In [1]:
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import warnings
warnings.filterwarnings("ignore")

1.Scrape the details of most viewed videos on YouTube from Wikipedia:

In [3]:
youtube=webdriver.Chrome("chromedriver.exe")
youtube.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos") #open required website
youtube.maximize_window()
youtube.switch_to_window(youtube.window_handles[-1]) #switch tab if unwanted tab open 
time.sleep(4)
row=youtube.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr")      #to get all row
col=youtube.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[1]/td")# to get all columns
value=[]
for r in range(1,len(row)+1): #itterate each value in table by help of rows and columns number
    for c in range(1,len(col)):
        value.append(youtube.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr["+str(r)+"]/td["+str(c)+"]").text)
youtube.quit()
val=[]
for i in range(5):
    val.append(value[i::5])
columns=["Rank","Name","Artist","Views","Upload date"]
pd.DataFrame(val,index=columns).transpose()    #create pandas DataFrame

,Rank,Name,Artist,Views,Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.15,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.92,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""[54]",Adele,2.84,"October 22, 2015"
29,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

2.Scrape the details team India’s international fixtures from bcci.tv.

In [7]:
bcci=webdriver.Chrome("chromedriver.exe")
bcci.get("https://www.bcci.tv/.")              #open required website
inte=bcci.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
link=inte.find_element_by_xpath(".//*[contains(text(),'Fixtures')]").get_attribute("href") #to reach international fixture page
bcci.get(link)
date=bcci.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")     # xpath of each data required
des=bcci.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//p/strong")
place=bcci.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//p/span")
ser=bcci.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[2]")
dates=[]
mdate=[]
time=[]
match=[]
places=[]
series=[]
for o in date:
    dates.append(o.text.split("\n"))
for i in dates:
    mdate.append(i[:3])
    time.append(i[3])
for i in des:
    match.append(i.text)
for i in place:
    places.append(i.text)
for i in ser:
    series.append(i.text)
bcci.quit()
value=[match,series,places,mdate,time]
columns=["Match title","Series","Place","Date","Time"]
pd.DataFrame(value,index=columns).transpose()          #create pandas DataFrame

,Match title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton","[Friday, 18, JUNE]",15:00 IST
1,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Tuesday, 13, JULY]",14:30 IST
2,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Friday, 16, JULY]",14:30 IST
3,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Sunday, 18, JULY]",14:30 IST
4,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Wednesday, 21, JULY]",19:00 IST
5,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Friday, 23, JULY]",19:00 IST
6,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Sunday, 25, JULY]",19:00 IST
7,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham","[Wednesday, 04, AUGUST]",15:30 IST
8,2nd Test,ENGLAND V INDIA 2021,"Lord's, London","[Thursday, 12, AUGUST]",15:30 IST
9,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds","[Wednesday, 25, AUGUST]",15:30 IST
10,4th Test,ENGLAND V INDIA 2021,"The Oval, London","[Thursday, 02, SEPTEMBER]",15:30 IST
11,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester","[Friday, 10, SEPTEMBER]",15:30 IST

3.Scrape the details of selenium exception from guru99.com.

In [8]:
guru=webdriver.Chrome("chromedriver.exe")
guru.get("https://www.guru99.com/")                                           #open required website
guru.find_element_by_xpath("//a[contains(text(),'Selenium')]").click()        #to reach to selenium exception handling page
exception=guru.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").get_attribute("href")
guru.get(exception)
values=guru.find_elements_by_xpath("//div[2]/table/tbody/tr/td")              #to get all values in table
val=[]
for v in values:
    val.append(v.text)
value=[]
for r in range(2,4):
    value.append(val[r::2])
guru.quit()
columns=["Name","Description"]
pd.DataFrame(value,columns).transpose()                                        #create pandas DataFrame

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4.Scrape the details of State-wise GDP of India from statisticstime.com.

In [9]:
gdp=webdriver.Chrome("chromedriver.exe")
gdp.get("http://statisticstimes.com/")                                                  #open required website
eco=gdp.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]").get_attribute("href")  #to reach to economy page
gdp.get(eco)
gdp.find_element_by_xpath("//*[contains(text(),'GDP of Indian states')]").click()
row=gdp.find_elements_by_xpath("//*[@id='table_id']/tbody/tr")                         #to get all row web element
col=gdp.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[1]/td")                   #to get all columns element
values=[]
for r in range(1,len(row)+1):                                  #itterate each value in table by help of rows and columns number
    for c in range(1,len(col)-1):
        values.append(gdp.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(r)+"]/td["+str(c)+"]").text)
val=[]
for i in range(6):
    val.append(values[i::6])
gdp.quit()
columns=["Rank","State","GSDP(19-20)","GSDP(18-19)","Share(18-19)","GDP($ billion)"]
pd.DataFrame(val,index=columns).transpose()                                            #create pandas DataFrame

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5.Scrape the details of trending repositories on Github.com.

In [10]:
hub=webdriver.Chrome("chromedriver.exe")
hub.get("https://github.com/")                                       #open required website
hub.find_element_by_xpath("//*[contains(text(),'Explore')]").click() #to click on the trending option from Explore menu
hub.find_element_by_xpath("//*[contains(text(),'Trending')]").click()
repo=[]
desc=[]
language=[]
cont=[]
top=hub.find_elements_by_xpath("//article")                          #locate each parent tab of data
for r in top:                                                        #exception handling for missing values
    try:
        repo.append(r.find_element_by_xpath(".//h1/a").text)         #locate data xpath form parent tab
    except:
        repo.append("--")
for d in top:
    try:
        desc.append(d.find_element_by_xpath(".//p").text)
    except:
        desc.append("--")
for l in top:
    try:
        language.append(l.find_element_by_xpath(".//span[@itemprop='programmingLanguage']").text)
    except:
        language.append("--")
for c in top:
    try:
        cont.append(c.find_element_by_xpath(".//div[2]/a[1]").text)
    except:
        cont.append("--")
hub.quit()
columns=["Repository title","Repository description","Contributors count","Language used"]
value=[repo,desc,cont,language]
pd.DataFrame(value,columns).transpose()                                #create pandas DataFrame

,Repository title,Repository description,Contributors count,Language used
0,jina-ai / jina,An easier way to build neural search on the cloud,"5,213",Python
1,willmcgugan / rich,Rich is a Python library for rich text and bea...,"26,620",Python
2,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,591,C
3,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,"10,366",--
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,"180,250",--
5,streamich / react-use,React Hooks — 👍,"22,976",TypeScript
6,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...","22,804",Haskell
7,walidshaari / Certified-Kubernetes-Security-Sp...,Curated resources help you prepare for the CNC...,881,AGS Script
8,siduck76 / NvChad,beautiful neovim setup configured in lua,"1,501",Lua
9,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...","41,059",--
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,"33,774",--
11,IlanKalendarov / SharpHook,--,115,C#
12,SuMaiKaDe / bot,--,167,Python
13,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"54,946",C++
14,nushell / nushell,A new type of shell,"11,781",Rust
15,neovim / neovim,Vim-fork focused on extensibility and usability,"44,600",Vim script
16,smokeme / payloadGenerator,Generate obfuscated meterpreter shells,91,Python
17,RPwnage / pwn-my,iOS 14.5 WebKit/Safari based Jailbreak,479,JavaScript
18,BurntSushi / ripgrep,ripgrep recursively searches directories for a...,"25,785",Rust
19,elastic / kibana,Your window into the Elastic Stack,"16,168",TypeScript
20,CyberPunkMetalHead / backtesting-for-cryptocur...,This is a simple backtesting framework to help...,48,Python
21,discordjs / discord.js,A powerful JavaScript library for interacting ...,"12,338",JavaScript
22,atom / atom,The hackable text editor,"55,448",JavaScript
23,thanos-io / thanos,Highly available Prometheus setup with long te...,"8,651",Go
24,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,"8,412",JavaScript

6.Scrape the details of top 100 songs on billiboard.com.

In [11]:
songs=webdriver.Chrome("chromedriver.exe")
songs.get("https://www.billboard.com/")                                         #open required website
link=songs.find_element_by_xpath("//*[contains(text(),'Hot 100')]").get_attribute("href")
songs.get(link)                                           #to click on the charts option then hot 100-page link
names=songs.find_elements_by_xpath("//span[@class='chart-element__information']")   #locate required datas xpath
rate=songs.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']")
sname=[]
aname=[]
lrank=[]
prank=[]
wboard=[]
for i in names:
    sname.append(i.text.split("\n")[0])
    aname.append(i.text.split("\n")[1])
for i in rate:
    lrank.append(i.text.split("\n")[0])
    prank.append(i.text.split("\n")[1])
    wboard.append(i.text.split("\n")[2])
songs.quit()
columns=["Song name","Artist name","Last Week rank","Peak rank","weeks on board"]
val=[sname,aname,lrank,prank,wboard]
pd.DataFrame(val,columns).transpose()                           #create pandas DataFrame

,Song name,Artist name,Last Week rank,Peak rank,weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

7.Scrape the details of Data science recruiters from naukri.com.

In [20]:
import time
naukri=webdriver.Chrome("chromedriver.exe")
naukri.get("https://www.naukri.com/")                                      #open required website
rec=naukri.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
link=rec.get_attribute("href")
naukri.get(link)           #click on the recruiters option and the on the search pane type Data science and click on search
search=naukri.find_element_by_xpath("//div[@class='inpWrap']/input")
search.clear()
search.send_keys("Data science")
naukri.find_element_by_id('qsbFormBtn').click()
naukri.switch_to_window(naukri.window_handles[-1])                         #switch tab if unwanted tab open
time.sleep(4)
names=[]
desig=[]
location=[]
comp=[]
skill=[]
name=naukri.find_elements_by_xpath("//p[@class='highlightable']/a/span")        #locate required data xpath
for n in name:
    names.append(n.text)
des=naukri.find_elements_by_xpath("//p[@class='highlightable']/span[1]")
for d in des:
    desig.append(d.text)
loc=naukri.find_elements_by_xpath("//p[@class='highlightable']")
for l in loc:
    try:                                                                        # to avoid exception if data is missing
        location.append(l.find_element_by_xpath(".//span[2]").text)
    except:
        location.append("--")
com=naukri.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for c in com:
    comp.append(c.text)
skills=naukri.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for s in skills:
    skill.append(s.text)
columns=["Name","Designation","Company","Skills they hire for","Location"]
value=[names,desig,comp,skill,location]
pd.DataFrame(value,columns).transpose()                                            #create pandas DataFrame

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

8.Scrape the details of Highest selling novels.

In [21]:
books=webdriver.Chrome("chromedriver.exe")                           #open required website
books.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
col=books.find_elements_by_xpath("//*[@class='in-article sortable']/tbody/tr/td")   #to get all web element of values in table 
val=[]
for i in col:
    val.append(i.text)
value=[]
for r in range(1,6):
    value.append(val[r::6])
books.quit()
columns=["Book name","Author name","Volume sold","Publisher","Gener"]
pd.DataFrame(value,columns).transpose()                               #create pandas DataFrame

,Book name,Author name,Volume sold,Publisher,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9.Scrape the details most watched tv series of all time from imdb.com.

In [26]:
series=webdriver.Chrome("chromedriver.exe")
series.get("https://www.imdb.com/list/ls095964455/")                                  #open required website
names=series.find_elements_by_xpath("//*[@class='lister-item-content']/h3/a")         #locate required web elements by xpath
years=series.find_elements_by_xpath("//*[@class='lister-item-content']/h3/span[2]")
run=series.find_elements_by_xpath("//p[1][@class='text-muted text-small']/span[3]")
gen=series.find_elements_by_xpath("//p[1][@class='text-muted text-small']/span[5]")
vot=series.find_elements_by_xpath("//p[4][@class='text-muted text-small']/span[2]")
alla=series.find_elements_by_xpath("//div[@class='lister-item mode-detail']")         # parent element of rating
name=[]
year=[]
time=[]
genre=[]
rating=[]
vote=[]
for a in names:
    name.append(a.text)
for y in years:
    year.append(y.text)
for r in run:
    time.append(r.text)
for g in gen:
    genre.append(g.text)
for a in alla:
    rating.append(series.find_element_by_xpath(".//div[@class='ipl-rating-widget']").text.split("\n")[0])
for v in vot:
    vote.append(v.text)
series.quit()
columns=["Name","Year span","Genre","Run time","Ratings","Votes"]
value=[name,year,genre,time,rating,vote]
pd.DataFrame(value,columns).transpose()                                                 #create pandas DataFrame

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,384"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,9.3,"863,908"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,9.3,"874,524"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,9.3,"262,699"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,9.3,"224,042"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,9.3,"44,578"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,9.3,"55,072"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,9.3,"167,742"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,9.3,"34,888"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,9.3,"191,426"

10.Details of Datasets from UCI machine learning repositories.

In [25]:
import time
uci=webdriver.Chrome("chromedriver.exe")
uci.get("https://archive.ics.uci.edu/")                                     #open required website
time.sleep(2)
uci.get(uci.find_element_by_xpath("//b[contains(text(),'View ALL Data Sets')]/../..").get_attribute("href")) #to go to the Show All Dataset page
name=uci.find_elements_by_xpath("//td[2]//tbody/tr/td/table")              #locate all rows web element in table
values=[]
for i in range(2,len(name)+2):                                  # itterate by row numbers to locate web element of each value
    val=uci.find_elements_by_xpath("//td[2]//tbody/tr["+str(i)+"]/td")
    for v in val:
        values.append(v.text)
value=[]
for i in range(7):
    value.append(values[i::7])
uci.quit()
columns=["Dataset name","Data type","task","Attribute type","No of instances","No of attribute","Year"]
pd.DataFrame(value,columns).transpose().replace([" "],"-")                   #create pandas DataFrame

,Dataset name,Data type,task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,-,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021